.sectionServices {
  width: 100%;
  display: flex;
  color: black;
  padding: 0 2rem;
  flex-direction: column;
  background-color: #f4f3f8;
}

.header {
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards img {
  margin: 0.5rem 0;
}
