.navbarMenu {
  width: 100%;
  display: flex;
  list-style: none;
  max-width: 1080px;
  align-items: center;
  justify-content: space-between;
}

.navbarContainer {
  display: flex;
}

.navbarItem {
  margin: 0 2rem;
}

.navbarLink {
  display: block;
  font-size: 3em;
  font-weight: 700;
  color: #2e1c38;
  font-family: "al-fresco", sans-serif;
}

.logo {
  max-width: 250px;
}

.navbarLink:hover {
  text-decoration: underline;
}
