.navbarMenu {  
    margin: 5rem auto 0;
    width: 100%;
    display: flex;
    list-style: none;    
    max-width: 1080px;
    align-items: center;
    justify-content: space-between;
    font-family: "al-fresco", sans-serif;
  }

  .navbarContainer {
    display: flex;    
  }
  
  .navbarItem {
    margin: 0 2rem;    
  }
  
  .navbarLink {
    display: block;
    color: #2E1C38;
    font-size: 3em;    
    font-weight: 700;   
  }

  .logo {    
    max-width: 250px;  
  }  
  
  .navbarLink:hover {
    text-decoration: underline;
  }
  